
/*

1. #fdb700
2. #fe7f07
3. #fe3308
4. #d7003f
5. #930046
6. #4a0048

*/

@media (max-width: 800px) {
  .container{
    max-width: 95%;
  }

  .home-about-right{
    max-width: 95%;
  }

  .section-gap{
    padding-bottom: 40px;
  }
}


/*------------------------------------------------------*/
/*                        HEADER                        */
/*------------------------------------------------------*/

.logo{
  height: 104px;
  transition: all 0.5s;
}

.header-scrolled .logo{
  height: 45px;
  transition: all 0.5s;
}

.logo img{
  height: 65px;
  margin-top: 40px !important;
  background: url(../img/header/logo-shadow.png) no-repeat;
  background-size:contain;
  transition: all 0.5s;
}

.header-scrolled .logo img{
  height: 55px;
  margin-top: -5px !important;
  background: none;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  .logo img{
    height: 60px;
    margin-top: 20px !important;
    background: url(../img/header/logo-shadow.png) no-repeat;
    background-size:contain;
    transition: all 0.5s;
  }
  .header-scrolled .logo img{
    height: 55px;
    margin-top: -5px !important;
    background: none;
    transition: all 0.5s;
  }
}

#header .container{
max-width: 1200px !important;
}


/*------------------------------------------------------*/
/*                        BANNER                        */
/*------------------------------------------------------*/

.banner-area {
  background: url(../img/banner/banner-bg.png) center;
  background-size: cover;
  height:700px;
}

.banner-area .container{
  max-width: inherit;
}

.banner-content {
  margin-top: 0px;
  text-align: center;
}

.banner-content h1 {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  line-height: 1em;
  margin-top: 20px;
}

.banner-content h5 {
  font-weight: 400;
  letter-spacing: 3px;
}

.banner-left{
  float: left;
  text-align: left;
  max-width: 60%;
  padding-left: 40px;
  padding-right: 290px;
}

.banner-right{
  height: 600px;
  flex: auto;
  float: right;
  max-width: 40%;
  width: 400px;
  margin-right: -100px;
  padding-right: 0px;
}

#slideset {
  height: 100%;
  width:100%;
  position: relative;
  overflow: hidden;
}

#slideset img{
  height:610px;
  width:inherit;
  object-fit: contain;
  margin-top: 20px;
}
  
@media (min-width: 1400px) {
  .banner-area{
    height:730px;
  }
}

@media (max-width: 991px) {
  .banner-area{
    height:825px;
    background:url(../img/banner/banner-bgm.png);
    background-size: cover;
  }
  .banner-area .primary-btn{
    margin-top: 5%;
  }
  .banner-content h1 {
    font-size: 45px;
  }
  .banner-content-left{
    padding-left: 0px;
    padding-right: 0px;
  }
  .banner-left{
    margin-top: 150px;
    text-align: center;
    padding:0;
    max-width: 90%;
    padding-bottom: 20px;
  }
  .banner-right{
    height: 83%;
    width:90%;
    max-width: 100%;
    padding-right: 15px;
    margin-right: 0px;
  }
  #slideset {
    max-width:95%;
    margin-left: 20px;
  }
  #slideset img{
    object-fit: contain;
    height:30em
  }
}

#slideset > * {
  position: absolute; 
  right:-100%;
  animation: 12s autoplay infinite ease-in-out}

@keyframes autoplay {
  0% {right: -100%}
  4% {right: 0%}
  33.33% {right: 0%}
  37.33% {right:100%}
  100% {right: 100%}
}

#slideset > *:nth-child(1) {animation-delay: 0s}
#slideset > *:nth-child(2) {animation-delay: 4s}
#slideset > *:nth-child(3) {animation-delay: 8s}



/*------------------------------------------------------*/
/*                      ABOUT US                        */
/*------------------------------------------------------*/

.video-sec-area{
  padding-top: 60px;
}

.video-left{
  padding-right: 3%;
}
.video-left p{
  color: black;
}

.main-image{
  width:auto;
  height: 550px;
}

@media (max-width: 800px) {
  .main-image{
    height: auto;
    width: 90%;
    margin: auto;
  }
}
.video-left h6{
  font-size: 17px;
  font-weight: 450;
}
.video-left p{
  font-size: 15px;
  font-weight: 300;
}

.video-sec-area .video-left{
  max-width:65%;
  flex: auto;
  padding-right: 7% ;
}
.video-sec-area .home-about-left{
  max-width: 35%;
}
.video-sec-area .home-about-left img{
  float: right;
}

@media (max-width: 768px) {

  .video-sec-area .video-left{
    max-width:100%;
    padding: 0px 5% ;
  }
  .video-sec-area .home-about-left{
    max-width: 90%;
  }
  .video-sec-area .home-about-left img{
    padding: 0px 5%;
    margin: auto;
  }
}


/*------------------------------------------------------*/
/*                     TOP COURSE                       */
/*------------------------------------------------------*/

#top-course .title h1{
  font-size: 44px;
  color:whitesmoke;
}

#top-course .title p{
  font-size: 15px;
  font-weight: 300;
  color: rgba(245, 245, 245, 0.90) !important;
}

#top-course h4{
  font-size: 20px;
  color:whitesmoke;
}

#top-course .single-course p{
  font-size: 15px;
  font-weight: 300;
  color: rgba(245, 245, 245, 0.90) !important;
}


/*------------------------------------------------------*/
/*                        SHOP                          */
/*------------------------------------------------------*/

/* #shop .title h1{
  color:rgb(20, 20, 20) !important;
  font-size: 48px;
} */

#shop .title p{
  color:rgb(200, 200, 200) !important;
  font-size: 16px;
}

#shop .rsign{
 font-family:monospace
}

#shop .model-type{
  margin-top: 5px;
}
#shop h5{
  font-weight: 500;
  font-size: 13px;
  color: rgb(44, 44, 44);
}
.video-card{
  padding: 20px 25px;padding-bottom: 20px;
}
/*------------------------------------------------------*/
/*                      FEATURE                         */
/*------------------------------------------------------*/

.single-service {
  min-height: 210px;
}

.service-area p{
  color:#222;
}

.service-area .header-text p{
  font-size: 15px;
  font-weight: 400;
}

/*------------------------------------------------------*/
/*                       REVIEW                         */
/*------------------------------------------------------*/

.review-area{
  /* 
  background-image: -moz-linear-gradient(0deg,rgb(93, 93, 93) 0%, rgb(54, 54, 54) 100%);
  background-image: -webkit-linear-gradient(0deg,rgb(93, 93, 93) 0%, rgb(54, 54, 54) 100%);
  background-image: -ms-linear-gradient(0deg,rgb(93, 93, 93) 0%, rgb(54, 54, 54) 100%);
  */
  background:linear-gradient(94.3deg, rgb(26, 33, 64) 10.9%, rgb(81, 84, 115) 87.1%)
}

.review-area p{
  color:#fff;
}

.single-review p{
  color: #222;
}

.review-area h1{
 color:#fff
}

@media (max-width: 800px) {
  .review-area{
    padding-bottom: 40px;
  }
}


/*------------------------------------------------------*/
/*                        Faq                           */
/*------------------------------------------------------*/

.faq-area .card-body{
  color:#222;
  font-weight: 400;
}

.faq-area p{
  color: #222;
  font-weight: 400;
}

.faq-area .btn-link{
  width:100%;
  text-align: left;
}