
.form-container{
  position: relative;  
  width: 100%;
  height: fit-content;
  margin:0 auto;
  margin-top: 100px;
}

.form-frame{
  width:100%;
  height:1500px;
  font-family: 'Times New Roman', Times, serif im !important;
}

.order-area {
  background: url(../img/faq/faq-bg.jpg) center;
  background-size: cover;
}

.order-area .orderdetail-cards{
  width: 100%;
}

@media (max-width:580px){
  .order-area .orderdetail-cards{
    width: 90% ;
    margin:0 auto;
  }
}

.order-area{
  padding-bottom: 1px;
}

.order-area .order-section{
  position: relative;
  width:100%;
  margin:0;
}

.order-section .order-left{
  float: left;
  width:73%;
  padding:0;
  padding-left: 50px;
}

.order-section .order-right{
  float: left;
  width:27%;
  padding: 0;
}

.scrolto{
  width:100%;
    float: none;
    height: 10px;
    background-color: #222;
}

.menu-content{
  padding-bottom: 40px;
}

@media (max-width: 991px) {
  .menu-content{
    width: 87%;
    padding-bottom: 30px;
  }
  .order-area .order-section{
    position: relative;
    width:95%;
    margin:0 auto;
  }
  .order-section .order-left{
    float: none;
    width:100%;
    padding:0;
  }
  
  .order-section .order-right{
    float: none;
    width:90%;
    padding: 0;
    margin-bottom:35px;
  }
  .scrolto{
    width:100%;
    float: none;
    height: 10px;
    background-color: #222;
  }
}

.orderdetail-cards .card {
  border: none;
  background: transparent;
  border-radius: 0 !important;
  margin-bottom: 10px;
}

.orderdetail-cards .card-header {
  background-image: -moz-linear-gradient(0deg, #930046 0%, #fe3308 100%);
  background-image: -webkit-linear-gradient(0deg, #930046 0%, #fe3308 100%);
  background-image: -ms-linear-gradient(0deg, #930046 0%, #fe3308 100%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.383), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px;
  padding-bottom: 2px;
  border-radius: 35px !important;
  border-bottom: none;
}

.orderdetail-cards .card-header .btn-link {
  border-radius: 0 !important;
  color: #fff;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  text-decoration: none;
  width: 100%;
  text-align: left !important;
}

.ordercard-container{
  padding: 0 20px;
  min-height:350px;
}

.ordercard-container .ShipBillSame {
  color:#222;
  font-size:15px;
  margin:20px 10px;
  margin-top: 25px;
}
.ordercard-container .subsection{
  min-height:150px;
  width: 100%;
  margin:0 auto;
  margin-top:20px;
  display:block;
}
.ordercard-container .display-none{
  display:none;
}
.ordercard-container .left-sec, .ordercard-container .right-sec{
  float:left;
  width: 50%;
  padding: 0;
  padding-left: 10px;
}

@media (max-width:991px){
  .ordercard-container .left-sec, .ordercard-container .right-sec{
    float:left;
    height: fit-content;
    width: 100%;
    padding: 0px 5px;
  }
}

.ordercard-container .input-container{
  margin-bottom:20px ;
  margin-top: 10px;
}

.ordercard-container label{
 color:#222;
 font-weight: 500;
 margin: 0;
 margin-right: 20px;
 font-size: 16px;
}

.ordercard-container input, select{
  border-radius: 0px;
  border: none;
  border-bottom: 1.1px solid rgba(189, 189, 189, 0.835);
  background: rgba(250, 124, 124, 0.0);
  width:90%;
  padding-left: 10px;
}

@media (max-width: 991px) {
  .ordercard-container input, select{
   width:100%;
  }
}

.ordercard-container input:focus,select:focus {
  outline: 0;
}

.ordercard-container input[type=checkbox]{
  margin-right: 7px;
  width:fit-content;
  color:#222;
}
.ordercard-container select{
  padding-bottom: 2px;
  padding-top: 1px;
  padding-left: 6px
}

.error::placeholder{
  color: #fe3308;
  font-weight: 400;
}

.errorMessage{
  color: #fe3308;
  font-size: medium;
  font-weight: 500;
  float: left;
}

@media (max-width: 991px) {
  .errorMessage{
    width: 60%;
  }
}

.ordercard-container button {
  float: right;
  background-color: rgb(75, 75, 75);
  color: #fff;
  border: none;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 30px;
  padding: 0px 20px;
  font-size: small;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.ordercard-container button:hover {
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #930046;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.383), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}



@media (max-width: 991px) {
  .order-right .detail-container{
    margin:0 auto;
  }
}
.order-right .detail-container{
  width: 100%;
  height: fit-content;
  border-radius:20px;
  padding: 20px;
  color:#fff;
  background-image: -moz-linear-gradient(0deg,rgb(93, 93, 93) 0%, rgb(54, 54, 54) 100%);
  background-image: -webkit-linear-gradient(0deg,rgb(93, 93, 93) 0%, rgb(54, 54, 54) 100%);
  background-image: -ms-linear-gradient(0deg,rgb(93, 93, 93) 0%, rgb(54, 54, 54) 100%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.383), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detail-container hr{
  background-color: #ccc;
}

.detail-container h3{
  font-size: 20px;
  color: #fff;
}
.detail-container h5{
  color: #fff;
}

.detail-container img{
  width: 100%;
  height: auto;
}

@media (max-width: 991px) {
  .detail-container img{
    width: 60%;
    height: auto;
    float:right;
  }
}

.detail-container table{
  width: 100%;
}

.detail-container th{
  font-weight: 400;
  font-size: 14px;
}

.detail-container td{
  font-weight: 400;
  float: right;
}

.detail-container .total th{
 font-size:20px;
 font-weight: 500;
 float: left;
}

.detail-container .total td{
  font-size:20px;
  font-weight: 500;
  float: right;
 } 