

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo{
  height: 45px;
}

.logo img{
  height: 55px;
  margin-top: -5px !important;
  background: none;
}

#p-header .container{
max-width: 1200px !important;
}

#p-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;
  background: white;
  width: inherit;
  padding: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 673px) {
  #logo {
    margin-left: 20px;
  }
 
}

#p-header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
}

#p-header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #fe3308;
}

#p-header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #p-header #logo h1 {
    font-size: 28px;
  }
 
}

@media (min-width: 1024px) {
  #p-header #logo img {
    max-height: 60px;
  }
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.p-nav-menu, .p-nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.p-nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.p-nav-menu li {
  position: relative;
  white-space: nowrap;
}

.p-nav-menu > li {
  float: left;
}

.p-nav-menu li:hover > ul,
.p-nav-menu li.sfHover > ul {
  display: block;
}

.p-nav-menu ul ul {
  top: 0;
  left: 100%;
}

.p-nav-menu ul li {
  min-width: 180px;
  text-align: left;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#p-nav-menu-container {
  margin: 0px;
}



@media (min-width: 800px) {
  #p-nav-menu-container {
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  #p-nav-menu-container {
    display: none;
  }
}

/* Nav Menu Styling */

.p-nav-menu a {
  padding: 0 15px 0px 0px;
  font-size: 15px; 
  color:#4a0048ff;
  font-weight: 450;
}
.p-nav-menu a:hover {
  color:#fe3308ff;
  font-size: 16px;
  font-weight: 500;
}


.p-nav-menu > li {
  margin-left: 10px;
}

.p-nav-menu ul {
  margin: 16px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.p-nav-menu ul li {
  transition: 0.3s;
}

.p-nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none;
}

.p-nav-menu ul li:hover > a {
  color: #fe3308;
}

.p-nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 12px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;  
  margin-top: 0px;
}


#mobile-nav-toggle i {
  color: rgb(0, 0, 0);
  font-weight: 900;
  transition: all 0.5s;
}

@media (max-width: 800px) {
  #mobile-nav-toggle {
    display: inline;
  }
  #p-nav-menu-container {
    display: none;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #fe3308;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #fe3308;
}



/*--------------------------------------------------------------
# Shop
--------------------------------------------------------------*/


#p-unique .title h1{
  color:rgb(20, 20, 20) !important;
  font-size: 48px;
}

#p-unique .title p{
  color:rgb(44, 44, 44) !important;
  font-size: 16px;
}

#p-unique .rsign{
 font-family:monospace
}

/*--------------------------------------------------------------
# Product Area
--------------------------------------------------------------*/

.product-right h6{
  margin: 8px 0px;
}

.product-right h4{
  color: rgb(32, 32, 32);
  margin: 10px 0px;
}

.content-container{
  width: 90%;
  margin:2% auto;
  margin-top: 6%;
  height: fit-content;
}

.product-left{
  width:40%;
  margin-top: -500px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 40px;
}

.product-right{
  width:60%;
  float: left;
  padding: 0 4% ;
}

@media (max-width: 800px) {
  
  .product-left{
    width:100%;
    position: relative;
    float: none;
    margin-top: 0px;
  }
  
  .product-right{
    width:100%;
    float: none;
    padding: 0 4% ;
    margin-top: 50px;
  }
}
.main-image{
  width:auto;
  height: 550px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 /* box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 0.5);*/
  display: none;
}

@media (max-width: 800px) {
  .main-image{
    height: 400px;
  }
}


.main-image:hover{
  /* cursor: pointer; */
}

.thumbnail-bar{
  width: fit-content;
  margin:20px auto ;
}

@media (max-width: 800px) {
  .thumbnail-bar{
    width:90%;
    height: fit-content;
  }
}

.thumbnail{
  height: 40px;
  width:auto;
  margin: 5px;
  border-radius: 15%;
  transition: all .2s;
  opacity: 0.6;
}
.thumbnail:hover {
  box-shadow: 0px 3px 8px 2px rgba(66, 25, 25, 0.4);
  transform:scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.thumbnail-bar .active {
  box-shadow: 0px 3px 8px 2px rgba(66, 25, 25, 0.3);
  transform:scale(1.1);
  opacity: 1;
}

.product-right .price-tag h3{
  font-weight: 600;
  color: #d7003f;
  
}

.product-right .product-tag{
  font-weight: 700;
  color: #fe3308;
  width: fit-content;
  padding: 0px 5px;
  border-radius: 7px;
  box-shadow: 0px 2px 5px 2px rgba(66, 25, 25, 0.2);
  margin: 10px 4px;
}

.delivery-check{
  width: 100%;
  margin:0 auto;
  height: 80px;
  margin-top: 30px;
  display: block;
}

.left-svg{
  float:left;
  width: fit-content;
  height: fit-content;
  margin-top: 13px;
  margin-right: 5px;
}

.left-section{
  border: none;
  margin-top: 10px;
  border-bottom: 2px solid rgba(250, 124, 124, 0.835);
  width: fit-content;
  height: fit-content;
  float:left;
}
.right-section{
  float:left;
  height: fit-content;
  width: fit-content;
  margin-top: 10px;

}

.delivery-check input[type=text] {
  border: none;
}

.delivery-check input[type=text]:focus {
  border: none;
  outline: 0 !important;
}

.delivery-check button {
  background-color: transparent;
  color: #222;
  border: none;
  margin-left: 10px;
  border: 1px solid #222;
  border-radius: 30px;
  padding: 1px 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.delivery-check button:hover {
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #222;
  color: #fff;
}

.availability-check{
  margin:5px;
  margin-top: -10px;
  margin-bottom: 10px;

}
.product-description{
  width:100%;
  height: fit-content;
  padding: 0 5px;
}
.product-details{
  width: 95%;
}

.detail-section{
  border-radius: 10px;
  width:100%;
  height: fit-content;
  /*box-shadow: 0px 2px 5px 2px rgba(66, 25, 25, 0.2);*/
  margin-top: 30px;
}

.detail-section-title{
  padding: 20px;
  padding-bottom: 0;
}

.detail-table{
  padding: 20px;
  padding-top: 0;
}

.detail-table table{
  width:100%;
  margin-top: 15px;
}

.detail-table th, td{
  padding: 5px;
  font-size:smallers;
  font-weight: 400;
}

.detail-table th{
  color:rgb(100, 100, 100);
}

.detail-table td{
  color:black;
}


/*--------------------------------------------------------------
# Feature Area
--------------------------------------------------------------*/


.features-section{
  width:100%;
  margin: 60px 0;
}

.boundbox{
  width:90%;
  margin:0 auto;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.1);
}



.feature{
  width: 25%;
  float: left;
  text-align: center;
  margin: 20px auto;
  border-right: 1px solid #eeeeee;
}

.f-icon{
  margin-top: 20px;
}

@media (max-width: 800px) {
  .features-section{
    width:100%;
    margin: 60px 0;
  }

  .boundbox{
    width:90%;
    margin:0 auto;
  }

  .feature{
    width: 70%;
    float: none;
    margin:0px auto;
    border-right:none;
    border-bottom: 1px solid #eeeeee;
  }
  .f-icon{
    margin-top: 30px;
  }
}

.feature h6{
  color:#222;
  margin-top:30px
}