


/*--------------------------------------------------------------
# Shop
--------------------------------------------------------------*/

#p-unique .title h1{
  color:rgb(20, 20, 20) !important;
  font-size: 48px;
}

#p-unique .title p{
  color:rgb(44, 44, 44) !important;
  font-size: 16px;
}

#p-unique .rsign{
 font-family:monospace
}



/*--------------------------------------------------------------
# Product Area
--------------------------------------------------------------*/

.orderform-container{
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  /* display:none; */
  position:fixed;
  background-color:#313131;
  overflow:auto;
  z-index: 990;
}

.orderF{
  position:absolute;
  left:0;
  right:0;
  margin:auto;
  margin-top: 200px;
  
  width:fit-content;
  background-color: #d7003f;
}

.orderF form{
  max-width:300px;
  min-width:250px;
  padding:10px 50px;
  border-radius:10px;
  background-color:#fff
}

.product-right h6{
  margin: 8px 0px;
}

.product-right h4{
  color: rgb(32, 32, 32);
  margin: 10px 0px;
}

.content-container{
  width: 90%;
  margin:2% auto;
  margin-top: 6%;
  height: fit-content;
}

.product-left{
  width:50%;
  margin-top: -1450px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 30px;
}

.product-right{
  width:50%;
  float: left;
  padding: 0 4% ;
}

@media (max-width: 800px) {
  
  .product-left{
    width:100%;
    position: relative;
    float: none;
    margin-top: 0px;
  }
  
  .product-right{
    width:100%;
    float: none;
    padding: 0 4% ;
    margin-top: 50px;
  }
}
.main-image{
  width:auto;
  height: 550px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 /* box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 0.5);*/
  display: none;
}

@media (max-width: 800px) {
  .main-image{
    height: 400px;
  }
}


.main-image:hover{
  /* cursor: pointer; */
}

.thumbnail-bar{
  width: fit-content;
  margin:20px auto ;
}

@media (max-width: 800px) {
  .thumbnail-bar{
    width:86.8%;
    height: fit-content;
  }
}

.thumbnail{
  height: 40px;
  width:auto;
  margin: 5px;
  border-radius: 15%;
  transition: all .2s;
  opacity: 0.6;
}
.thumbnail:hover {
  box-shadow: 0px 3px 8px 2px rgba(66, 25, 25, 0.4);
  transform:scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.thumbnail-bar .active {
  box-shadow: 0px 3px 8px 2px rgba(66, 25, 25, 0.3);
  transform:scale(1.1);
  opacity: 1;
}

.product-right .price-tag h3{
  font-weight: 600;
  color: #d7003f;
  
}

.product-right .product-tag{
  font-weight: 700;
  color: #fe3308;
  width: fit-content;
  padding: 0px 5px;
  border-radius: 7px;
  box-shadow: 0px 2px 5px 2px rgba(66, 25, 25, 0.2);
  margin: 10px 4px;
}

.delivery-check{
  width: 100%;
  margin:0 auto;
  height: 80px;
  margin-top: 30px;
  display: block;
}

.left-svg{
  float:left;
  width: fit-content;
  height: fit-content;
  margin-top: 13px;
  margin-right: 5px;
}

.left-section{
  border: none;
  margin-top: 10px;
  border-bottom: 2px solid rgba(250, 124, 124, 0.835);
  width: fit-content;
  height: fit-content;
  float:left;
}
.right-section{
  float:left;
  height: fit-content;
  width: fit-content;
  margin-top: 10px;

}

.delivery-check input[type=text] {
  border: none;
}

.delivery-check input[type=text]:focus {
  border: none;
  outline: 0 !important;
}

.delivery-check button {
  background-color: transparent;
  color: #222;
  border: none;
  margin-left: 10px;
  border: 1px solid #222;
  border-radius: 30px;
  padding: 1px 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.delivery-check button:hover {
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #222;
  color: #fff;
}

.availability-check{
  margin:5px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.buybutton{
  box-shadow: 0px 2px 8px 2px rgba(66, 25, 25, 0.05);
  border:none !important;
  font-weight: 600;
}

.buybutton:hover{
  box-shadow: 0px 2px 8px 2px rgba(66, 25, 25, 0.3);
  border:none !important;
  
}

.quantityinput{
  width: fit-content;
  height: 35px;
  padding: 2px 15px;
  padding-right: 0;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 2px rgba(66, 25, 25, 0.05);
  caret-color: transparent;
  float:left;
  margin-right: 40px;
  transition:all 0.3s;
}

@media (max-width: 991px) {
  .quantityinput{
    margin-bottom:20px;
  }
}

.quantityinput:hover{
  box-shadow: 0px 2px 5px 2px rgba(66, 25, 25, 0.2);
  transition: all 0.3s;
}

.quantityinput h5{
  padding-right: 10px;
  color: #222;
  font-size: medium;
  font-weight: 600;
  margin-top: 6px;
}

.quantityinput input{
  width: 35px;
  border: none;
  margin-top: 2px;
  border-radius: 15px;
  color: #222;
  font-weight: 500;
  font-size: 15px;
}

.quantityinput input:focus{
  outline: none;
} 

.product-description{
  width:100%;
  height: fit-content;
  padding: 0 5px;
  float: left;
  color:#313131
}
.product-details{
  width: 95%;
}

.detail-section{
  border-radius: 10px;
  width:100%;
  height: fit-content;
  float: left;
  /*box-shadow: 0px 2px 5px 2px rgba(66, 25, 25, 0.2);*/
  margin-top: 30px;
}

.detail-section-title{
  padding:20px 0;
  padding-bottom: 0;
}

.detail-table{
  padding: 20px 10px;
  padding-top: 0;
}

.detail-table table{
  width:100%;
  margin-top: 15px;
}

.detail-table th, td{
  padding: 5px;
  /* font-size:smaller; */
  font-weight: 400;
}

.detail-table th{
  color:rgb(100, 100, 100);
}

.detail-table td{
  color:black;
}



/*--------------------------------------------------------------
# Feature Area
--------------------------------------------------------------*/

.features-section{
  width:100%;
  margin: 60px 0;
}

.boundbox{
  width:90%;
  margin:0 auto;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.1);
}



.feature{
  width: 25%;
  float: left;
  text-align: center;
  margin: 20px auto;
  border-right: 1px solid #eeeeee;
}

.f-icon{
  margin-top: 20px;
}

@media (max-width: 800px) {
  .features-section{
    width:100%;
    margin: 60px 0;
  }

  .boundbox{
    width:90%;
    margin:0 auto;
  }

  .feature{
    width: 70%;
    float: none;
    margin:0px auto;
    border-right:none;
    border-bottom: 1px solid #eeeeee;
  }
  .f-icon{
    margin-top: 30px;
  }
}

.feature h6{
  color:#222;
  margin-top:30px
}