
<!-- contact form -->
<div>
  <script type="text/javascript">var submitted = false;</script>
  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
    onload="if(submitted)  {window.location='./index.html';}"></iframe>
  <form name="ConnectForm"
    action="https://docs.google.com/forms/u/3/d/e/1FAIpQLSfrU8h34qp0RSqErO5PoLztVTo-pPhO_cFi19Z9gq5tkg0b7w/formResponse"
    method="post" target="hidden_iframe" onsubmit="submitted=true;">
    <input id="CEmail" style="display:none;" type="text" name="entry.2134301114" value="">
    <!-- <input type="submit" value="Submit" /> -->
  </form>
</div>

<!-- systemlog form -->
<div>
  <script type="text/javascript">var submitted = false;</script>
  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
    onload="if(submitted)  {window.location='';}"></iframe>
  <form name="LogForm"
    action="https://docs.google.com/forms/d/e/1FAIpQLSe5oyqKn0Es0H8uPOBu4PKQg-cmGC3I-t1PapbLhPBCuENuiw/formResponse"
    method="post" target="hidden_iframe" onsubmit="submitted=true;">
    <input id="LFpage" style="display:none;" type="text" name="entry.1020860759" value="">
    <input id="LFip" style="display:none;" type="text" name="entry.755470913" value="">
    <input id="LFisporg" style="display:none;" type="text" name="entry.414523074" value="">
    <input id="LFloc" style="display:none;" type="text" name="entry.1844426094" value="">
    <input id="LFlat" style="display:none;" type="text" name="entry.751171197" value="">
    <input id="LFlon" style="display:none;" type="text" name="entry.2113023836" value="">
    <input id="LFos" style="display:none;" type="text" name="entry.1219549028" value="">
    <input id="LFdevice" style="display:none;" type="text" name="entry.1971368319" value="">
    <input id="LFbrowser" style="display:none;" type="text" name="entry.667600438" value="">
    <input id="LFramcores" style="display:none;" type="text" name="entry.837615904" value="">
    <input id="LFnewuser" style="display:none;" type="text" name="entry.1243311465" value="">

    <!-- <input type="submit" value="Submit" /> -->
  </form>
</div>


<div class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Currently Serving in</h6>
          <p>
            Delhi, New Delhi, Noida, Greater Noida, Ghaziabad, Meerut, Faridabad and Gurugram.
          </p>

        </div>
      </div>
      <div class="col-lg-5  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Request a Callback or Response</h6>
          <p>Want services in your area or have any query ?</p>
          <h5 id="submitsucess"></h5>
          <div id="request-container">
            <input class="form-control" name="EMAIL" placeholder="Enter your Email or Phone Number" type="email">
            <button class="click-btn btn btn-default submitbutton" onclick="validateConnectForm()"><i
                class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
        <div class="single-footer-widget">
          <h6 id="footer-note">Follow Us</h6>
          <p>Let us be social</p>
          <div class="footer-social d-flex align-items-center">
            <a href="https://www.facebook.com/KursiStoreIndia" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/kursistoreindia/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+917669542408" target="_blank"><i
                class="fa fa-whatsapp"></i></a>
            <a id="footerPhone" href="tel:+918755837310"><i class="fa fa-phone"></i></a>
            <a id="footerEmail" href="mailto:support@kursistore.com"><i class="fa fa-envelope"></i></a>
          </div>
          <br>
          <p class="footer-text" id="copywriteText"></p>
        </div>
      </div>
      </div>